@import '@/assets/scss/_index.scss';

.empty {
    @include empty;
}
.filled {
    @include filled;
}
.sucess {
    @include sucess;
}
.warning {
    @include warning;
}
.failed {
    @include failed;
}

.void {
    @include void;
}

.large {
    @include outline;
}

.medium {
    @include medium;
}

.small {
    @include small;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}