@import '@/assets/scss/_index.scss';

* {
    font-family: 'Nunito', sans-serif;
}

.empty {
    @include empty;
}
.filled {
    @include filled;
}
.sucess {
    @include sucess;
}
.warning {
    @include warning;
}
.failed {
    @include failed;
}

.void {
    @include void;
}

.large {
    @include outline;
}

.medium {
    @include medium;
}

.small {
    @include small;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    height: 700px;
    width: 600px;
    margin-top: 100px;
    background-color: #2377;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}