<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <h1>{{ titulo }}</h1>
    <transition name="bounce">
        <div v-if="bounce">
            <arcade-jogo></arcade-jogo>
        </div>
    </transition>
    <button @click="bounce = !bounce">
        Bounce
    </button>
</div>

<script>
    Vue.component('arcade-jogo', {
        data: function() {
            return {
                jogos: [
                    { nome: 'Street FIghter 2' },
                    { nome: 'Super Mario World' }
                ],
            };
        },
        template: `<div><div class="jogo" v-for="jogo in jogos">
            <p>{{ jogo.nome }}</p>
                    </div></div>` 
    });
    new Vue({
        el: '#app',
        data: {
            titulo: 'Meus jogos',
            bounce: false,
        },
    })
</script>
<style>
    .bounce-enter-active {
        animation: bounce-in .5s;
    }    
    .bounce-leave-active {
        animation: bounce-in .5s reverse;
    }
    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }
</style>
