$mts-color--primary: #000;
$mts-color--empty: #F6F6F6;
$mts-color--filled: #E5E5E5;
$mts-color--warning: #FF9B53;
$mts-color--failed: #FF6D6D;
$mts-color--sucess: #63D197;
$mts-color--placeholder: #B5B5B5;
$mts-color--secondary: #EAEAEA;
$mts-color--tertiary: #FFF;
