@import './colors';

::-webkit-input-placeholder {
    font-size: 20px;
    color: $mts-color--placeholder;
}

input:-ms-input-placeholder {
    font-size: 15px;
}

@mixin empty {
    color: $mts-color--placeholder;
    background-color: $mts-color--empty;
    border: 5px solid $mts-color--empty;
    border-radius: 10px;
    height: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
}

@mixin filled {
    color: $mts-color--placeholder;
    background-color: $mts-color--tertiary;
    border: 5px solid $mts-color--secondary;
    border-radius: 10px;
    height: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
}

@mixin sucess {
    color: $mts-color--placeholder;
    background-color: $mts-color--tertiary;
    border: 5px solid $mts-color--sucess;
    border-radius: 10px;
    height: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
}

@mixin warning {
    color: $mts-color--placeholder;
    background-color: $mts-color--tertiary;
    border: 5px solid $mts-color--warning;
    border-radius: 10px;
    height: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 40px;
}

@mixin failed {
    color: $mts-color--placeholder;
    background-color: $mts-color--tertiary;
    border: 5px solid $mts-color--failed;
    border-radius: 10px;
    height: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
}